{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Entries of {{ target_name }}{% endblock %}

{% block content %}
  <h1>Entries of {{ target_name }}</h1>
  <hr />
  {% for entry in object_list %}
  {% include "content/_entry.html" with entry=entry %}
  {% endfor %}
  {% include "_pagination.html" with page_obj=page_obj paginator=paginator %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

